<h3>Login Page</h3>

<form method="post">
    User Id  : <input type="text" id="uid" name="UserName" />
    <br /><br />

    Password: <input type="password" id="pwd" name="Password" />
    <br /><br />

    <input type="submit" value="Login" />

</form>

<h2>
    @ViewBag.Message
</h2>